/*
 * default/basic styles; add-ons or tweaks to bootstrap
 */

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 200;
    color: #0057b8;
}
h2 {
    font-weight: 200;
    color: #0057b8;
}
h3 {
    font-weight: 300;
    color: gray;
}
h4 {
    font-weight: 300;
    color:  #e4002b;
}

/* page header */
.header_image {
    max-width: 100px;
    max-height: 100px;
    display: inline;
    border-radius: 50%;
}
.page-header {
    text-align: center;
    margin-top: 5px;
}

/* reasons */
.reasons_to_vote_content {
    text-align: center;
}
.reason_title {
    /*text-transform: uppercase;*/
    margin-top: 1px;
    margin-bottom: 20px;
}
.reason_thumbnail {
    margin-bottom: 1px;
}

/**/
.topic_img_right {
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.topic_img_left {
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topic_footer {
    background-color: gainsboro;
    height: 60px;
    text-align: center;
}

/* jumbotron tweaking */
#last_jumbo_item {
    margin-bottom: 0;
}

/**/
.page_footer {
    padding-bottom: 30px;
}
.about_us {
    float:right;
}
.about_us_link {
    color: #0057b8;
}

/**/
.topic_row {
    margin-bottom: 10px;
}

/**/
.action {
    margin-top: 10px;
}
.action_hr {
    margin-bottom: 0;
    margin-top: 5px;
}

/*butons*/
.btn_red {
    background-color:#e4002b;
    color:white;
}
.btn_red:hover,
.btn_red:focus,
.btn_red:active {
    background-color: #a80000;
    color:white;
}

.btn_blue {
    background-color:#0057b8;
    color:white;
}
.btn_blue:hover,
.btn_blue:focus,
.btn_blue:active {
    background-color: #002F90;
    color:white;
}