
            <header class="page-header">
                <div class="row">
                    <div class="col-md-3">
                        <h1><i class="fa fa-check-square-o" aria-hidden="true"></i></h1>
                    </div>
                    <div class="col-md-9 text-uppercase">
                        <a class="header_link" href="/index.html">
                            <h1 class="header_title">Cambridge Elections</h1>
                            <h4 class="header_subtitle">impact <b>YOUR</b> life</h4>
                        </a>
                    </div>
                </div>
            </header>